FLASK_ENV=development
FLASK_APP=run.py
SECRET_KEY=your-secret-key-here
# MongoDB connection string (replace <db_password> and add database name)
MONGO_URI=mongodb+srv://hashim_db_user:Password123!@clusterh.1k0zic7.mongodb.net/middaymate?appName=ClusterH

# Azure Storage (get connection string from Azure Portal > Storage Account > Access Keys)
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT_NAME;AccountKey=YOUR_ACCOUNT_KEY;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER=images

# OAuth - Microsoft
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# OAuth - Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
